@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

*{
    padding: 0px;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}

button:hover{
    cursor: pointer !important;
}

::-webkit-scrollbar {
    display: none;
}

html{
    font-size: 62.5%;
 }

body{
    background-color: white;
    max-width: 100vw;
}

.body-wrap{
    max-width: 100%;
}

header{
    background-color: #f8e4dc;
    color: rgb(69, 69, 69);
    width: 100%;
    height: 8vh;
    display: flex;
    flex-direction: row;
    z-index: 2;
    font-size: 1.5rem;
    justify-content: right;
    gap: 12.5vw;
    position: relative;
    align-items: center;
}

.logo-wrap{
    position: absolute;
    height: 100%;
    left: 0;
    margin-left: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    height: 100%;
    object-fit: contain;
}

.products-tab{
    margin-right: 10rem;
}

a{
    text-decoration: none;
    color: rgb(69, 69, 69);
}

.mug-big-text{
    color: rgb(0, 0, 0);
    z-index: 2;
    font-size: 2.5rem;
    display: flex;
    flex-direction: column;
    width: 50%;
    font-size: 8rem;
    margin-top: 10rem;
    margin-left: 10rem;
    align-items: left;
    justify-content: left;
}

#home{
    width: 100%;
    height: 93vh;
    background: url(../img/mug-big.webp) no-repeat;
    background-size:cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

#product-button{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 17rem;
    height: 7rem;
    margin-left: 10rem;
    margin-top: 7rem;
    font-size: 2rem;
    border: none;
}

.desc{
    display: flex;
    flex-direction: row;
}

.strawberry-mug-img1{
    overflow: hidden;
    width: 30%;
    aspect-ratio: 1;
    margin-top: 10rem;
    margin-left: 10rem;
}

.strawberry-mug-img2{
    object-fit: contain;
    object-position: center;
    height: 140%;
    transform: translateY(-10%);
}
.description-text{
    width: 50%;
    display: flex;
    display: flex;
    flex-direction: column;
    margin-top: 10rem;
    margin-left: 10rem;
}

.description-text > h2{
    margin-top: 10rem;
    font-size: 5rem;
    font-weight: bold;
}

.description-text > h3{
    margin-top: 7rem;
    font-size: 2rem;
    padding-right: 30rem;
}

#strawberrymug-button{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 17rem;
    height: 7rem;
    font-size: 2rem;
    margin-top: 3rem;
    border: none;
}

.four-mugs-home{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
    margin-left: 10rem;
    margin-right: 10rem;
}

.four-mugs-img1{
    overflow: hidden;
    width: 30%;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.four-mugs-img{
    width: 100%;
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    transition: width 0.2s;
}

.four-mugs-img1:hover > .four-mugs-img{
    width: 110%;
}

.round-logo{
    width: 8rem;
    aspect-ratio: 1;
}

.instructions{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 2rem;
    gap: 10rem;
}

.steps{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50rem;
    height: 30rem;
}

.mugs-deal{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    gap: 30rem;
}

.mugs-deal-text{
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    width: 40rem;
}

.mugs-deal-text > h2{
    margin-bottom: 4rem;
    font-size: 5rem;
    font-weight: bold;
}

#collection-button{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 17rem;
    height: 7rem;
    font-size: 2rem;
    margin-top: 3rem;
}

.three-mugs-img{
    display: flex;
    width: 50rem;
    aspect-ratio: 1;
}

.review-cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20rem;
    margin-top: 5rem;
}

.review-card-box{
    align-items: center;
    width: 20vw;
    height: 55vh;
    border-style: solid;
    border-color: black;
    border-width: 0.2rem;
    margin-bottom: 5rem;
}

.review-card-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile{
    width: 15rem;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 4rem;
    border-radius: 50%;
}

.stars{
    width: 17rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.review-card-text > h2{
    font-weight: bold;
    font-size: 2rem;
    width: 20rem;
}

.review-card-text >h3{
    margin-top: 1rem;
    width: 20rem;
}

.template{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 3rem;
    margin: 5rem;
}

.filter-wrap{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 2rem;
    gap: 4rem;
}

.filter-box{
    margin-top: 3rem;
}

.filter{
    width: 3rem;
    aspect-ratio: 1;
    appearance: none;
    -webkit-appearance: none;
    background: #ffffff;
    border-radius: 0.5rem;
    box-shadow: inset 0 0 0.5rem 0 rgba(0,0,0,0.2);
}

.filter:checked{
    background: #f8e4dc;
}

.card{
    display: flex;
    flex-direction: column;
    width: 30rem;
    height: 37rem;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

.card-img-wrap{
    width: 100%;
    aspect-ratio: 1;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.card-img{
    object-fit: contain;
    object-position: center;
}

.card > h2{
    margin-bottom: 1rem;
}

.card > h3{
    color: rgb(122, 122, 122);
}

.begin{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 5rem;
    gap: 7rem;
}

.desc-img-wrap{
    width:  60rem;
    aspect-ratio: 1;
    overflow: hidden;
}

.desc-img{
    width: 100%;
}

.begin-text{
    font-size: 3rem;
}

.begin-text > h2{
    margin-bottom: 2rem;
    color: black;
}

.begin-text >h3{
    color: rgb(122, 122, 122);
}

.cart-wrap{
    display: flex;
    width: 5rem;
    aspect-ratio: 1;
    margin-bottom: 50rem;
    padding-left: 17rem;
}

.cart{
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-desc{
    display: flex;
    flex-direction: column;
    margin: 5rem;
    font-size: 1.5rem;
    padding-left: 5rem;
}

.product-desc > h3{
    width: 75rem;
    height: 35rem;
}

#cart-button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    width: 17rem;
    height: 7rem;
    font-size: 2rem;
}

.button > a{
    color: white;
}

.modal{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50rem;
    height: 30rem;
    background: #f6f6f6;
    position: fixed;
    top: 34%;
    left: 34%;
    box-shadow: 0 0 5rem 0 rgba(0, 0, 0, 0.3);
    color: #ddbfb3;
    font-size: 4rem;
    border-radius: 0.5rem;
    display: none;
    z-index: 10;
}

 .page-img-wrap{
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
 }
.page-img{
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.circle-wrap{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin-top: 10rem;
    margin-right: 7rem;
}

.circle{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    aspect-ratio: 1;
    border-style: solid;
    border-color: black;
    border-width: 0.1rem;
    border-radius: 50%;
    z-index: 1;
    overflow: hidden;
}

.circle-img{
    width: 5rem;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: contain;
}

.shoppingcart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product-block{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75rem;
    height: 20rem;
    border-top: 0.2rem solid rgba(0, 0, 0, 0.238);
    border-bottom: 0.2rem solid rgba(0, 0, 0, 0.238);
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: 2rem;
}

.product-img-wrap{
    width: 20rem;
    aspect-ratio: 1;
    overflow: hidden;
    margin-right: 5rem;
}

.product-img{
    width: 100%;
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
}

.product-text{
    width: 40%;
}

.product-text > h2{
    font-size: 2.5rem;
    color: black;
}

.product-text > h3{
    font-size: 1.5rem;
    color: rgb(122, 122, 122);
}

#bin{
    width: 4rem;
    aspect-ratio: 1;
    overflow: hidden;
    margin-right: 3rem;
    border-style: none;
    background: white;
}

.bin-img{
    width: 100%;
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
}

.modal-error{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50rem;
    height: 30rem;
    background: #f6f6f6;
    position: fixed;
    top: 34%;
    left: 34%;
    box-shadow: 0 0 5rem 0 rgba(0, 0, 0, 0.3);
    color: #ddbfb3;
    font-size: 4rem;
    border-radius: 0.5rem;
    display: none;
    z-index: 10;
}

.complete-order{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20rem;
    margin-bottom: 2rem;
}

#pay-button{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 17rem;
    height: 7rem;
    font-size: 2rem;
    margin-top: 3rem;
    border: none;
}

.complete-order > h2{
    font-size: 3rem;
}

.modal-error2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50rem;
    height: 30rem;
    background: #f6f6f6;
    position: fixed;
    top: 34%;
    left: 34%;
    box-shadow: 0 0 5rem 0 rgba(0, 0, 0, 0.3);
    color: #ddbfb3;
    font-size: 4rem;
    border-radius: 0.5rem;
    display: none;
    z-index: 10;
}

footer{
    background-color: #f8e4dc;
    color: rgb(69, 69, 69);
    width: 100%;
    height: 7vh;
    display: flex;
    flex-direction: row;
    font-size: 1.5rem;
    justify-content: right;
    position: relative;
    align-items: center;
}

.footer-text{
    display: flex;
    flex-direction: column;
    text-align: right;
}

@media only screen and (max-width: 1163px){
        .desc{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .strawberry-mug-img1{
        margin-left: 0;
    }

    .description-text{
        width: 40rem;
        height: 75rem;
        margin-left: 0;
        margin-top: 0;
    }

    .description-text > h3{
        padding-right: 0;
    }

    .mugs-deal{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10rem;
    }
    
    .template{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media only screen and (max-width: 1001px){
    .four-mugs-home{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 901px){
    .mug-big-text{
        font-size: 5rem;
    }

    .review-cards{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0;
        margin-left: 7rem;
    }

    .review-card-box{
        margin-bottom: 2rem;
    }

    .template{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 801px){
    .begin{
        display: flex;
        flex-direction: column;
    }

    .cart-wrap{
        display: flex;
        width: 5rem;
        height: 5rem;
        margin-bottom: 0;
        padding-left: 0;
        padding-bottom: 5rem;
    }
    
    .cart{
        object-fit: contain;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .product-desc{
        margin: 0;
        padding-left: 0;
        margin-left: 5rem;
        padding-bottom: 5rem;
    }

    .product-desc > h3{
        width: 50rem;
        height: 50rem;
    }
}

@media only screen and (max-width: 551px){
    .product-desc{
        margin: 0;
        padding-left: 0;
        margin-left: 5rem;
        padding-bottom: 5rem;
    }

    .product-desc > h3{
        width: 35rem;
        height: 50rem;
    }

    .cart-wrap{
        display: flex;
        width: 5rem;
        height: 5rem;
        margin-bottom: 0;
        padding-left: 0;
        padding-bottom: 5rem;
        padding-right: 10rem;
    }

    .product-block{
        width: 50rem;
        height: 20rem;
    }
}

@media only screen and (max-width: 501px){
    .template{
        display: grid;
        grid-template-columns: 1fr;
    }
}

@media only screen and (max-width: 451px){
    .review-cards{
        display: grid;
        grid-template-columns: 1fr;
        gap: 0;
        justify-content: center;
        align-items: center;
    }

    .review-card-box{
        width: 50vw;
        height: 60vh;
    }
    .product-block{
        width: 45rem;
        height: 20rem;
    }

    .instructions{
        padding-left: 5vw;
        padding-right: 5cqi;
    }
}